<div class="container" id="cardsViewContainer">

  <button ng-click="vm.deleteCard()" class="deleteCardButton">Delete Card</button>
  <button ng-click="vm.editCard()" class="editCardButton">Edit Card</button>

  <table class="table table-hover">
    <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th>Brand</th>
        <th>Number</th>
        <th>Expiration Date</th>
        <th>Limit</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="card in vm.data" ng-attr-id="{{'table_entry_'+card.id}}" ng-click='vm.processCard(card.id)'>
          <td><img ng-src="{{vm.cardImage(card.brand)}}" class="brandImage" /> </td>
          <td ng-attr-id="{{'table_entry_'+card.id+'_name'}}">{{card.name}}</td>
          <td ng-attr-id="{{'table_entry_'+card.id+'_brand'}}"> {{card.brand}}</td>
          <td ng-attr-id="{{'table_entry_'+card.id+'_number'}}">{{card.number}}</td>
          <td ng-attr-id="{{'table_entry_'+card.id+'_expiration'}}">{{card.exp_month+'/'+card.exp_year}}</td>
          <td ng-attr-id="{{'table_entry_'+card.id+'_limit'}}">{{card.limit}}</td>
      </tr>
    </tbody>
  </table>
   

</div>