<div class="container">

<zagu-estagio-error-directive info="vm.errors">

</zagu-estagio-error-directive>

  <div class="form-group">
    <label for="usr">Name:</label>
    <input type="text" class="form-control" id="usr" ng-model='vm.card.name'>
  </div>

  <div class="form-group">
    <label for="card_no">Card Number:</label>
    <input type="text" class="form-control" id="card_no" ng-model='vm.card.number' ui-mask="9999 9999 9999 9999">
  </div>

  <label>
    Brand:
  </label>

  <br />


  <div ng-init="vm.brand='visa'" />

  <div class="radio-inline">
    <label><input type="radio" name="optbrand" checked='checked' ng-model='vm.card.brand' value='visa'>Visa</label>    
  </div>

  <div class="radio-inline">
    <label><input type="radio" name="optbrand" ng-model='vm.card.brand' value='mastercard'>Mastercard</label>
  </div>  

  <br />
  <br />

  <div class="form-group">
    <label for="card_date">Expiration Date (YYYY-MM):</label>
    <input type="month" class="form-control" id="card_date" ng-model='vm.card_date'>
  </div>


  <div class="form-group">
    <label for="card_limit">Card Limit:</label>
    <input type="text" class="form-control" id="card_limit" ng-model='vm.card_limit' ui-money-mask>
  </div>

  <button ng-click="vm.submitCard()">Submit</button>

</div>