/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.table td{
  text-align: center;
  vertical-align: middle !important;
}

.table th{  
  text-align: center;
  vertical-align: middle;
}

[ng-click] {
  cursor: pointer;
}

.brandImage {
  width: 150px;

}

.detailedBrandImage {
  width: 300px;
  float: left;
}


.cardDetails {
  display: inline;
  list-style: none;
}

.cardDetails > li{
  float: left;
  padding-left: 20px;
}

#cardDetailsDiv{
  clear: both;
}

#cardDetailsButtonDiv{
  clear: both;
  position: relative;
  padding-left: 10px;
  padding-top: 10px;
}

.resultFigure {
  width: 200px;
}

.resultImage {
  width: 200px;
}

.resultMsg{
  text-align: center;
}

.deleteCardButton.ng-scope{
  margin-right: 4px;
}

.paymentButton {
  font-size: 12px;
}

.paymentButton.ng-scope{
  margin-right: 4px;
}