<div class="container">

  <div class="form-group">
    <label for="usr">Amount:</label>
    <input type="text" class="form-control" id="usr" ng-model='vm.amount' ui-money-mask>
  </div>


  <label>
    Status:
  </label>

  <br />

  <div class="radio-inline">
    <label><input type="radio" name="optbrand" ng-model='vm.status' value='paid'>Paid</label>    
  </div>

  <div class="radio-inline">
    <label><input type="radio" name="optbrand" ng-model='vm.status' value='pending'>Pending</label>
  </div>  

  <div class="radio-inline">
    <label><input type="radio" name="optbrand" ng-model='vm.status' value='failed'>Failed</label>
  </div>  

  <br />
  <br />


  <button ng-click="vm.submitPayment()">Submit</button>
  <button ng-click="vm.cancelEdit()">Cancel</button>

</div>